# Node
node_modules/

# Next.js
.next/
out/

# Package manager files
yarn-error.log
.vercel
.pnpm-debug.log
.contentlayer/

# Typescript files
tsconfig.tsbuildinfo

# TypeScript transpiled files
*.js.map
