.card {
  min-width: 0px;
  min-height: 200px;
  border-radius: 8px;
  margin: 0.75rem 1.5rem;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--foreground);
}

.card-title {
  margin: 0px;
}

.card-text {
  margin: 0px;
}
