.container {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 900px;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.hero {
  margin: 0.75rem 1.5rem;
  padding: 1.5rem 1.5rem;
}

.hero-title {
  margin: 0;
}

.hero-text {
  margin: 0;
}
