.post-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.post-date {
  color: var(--muted);
}

.heading {
  /* @todo remove font-size. Page isn't inheriting html style for some reason.*/
  font-size: 2rem;
  margin: 0;
}

.article {
  padding: 1.25rem;
  margin: 0.75rem 1.25rem;
}
